.imagen_seccion{
    width: 420px;
    
}

.subtitulo{
    color: darkgreen;
}

.imagen_datos{
    width: 220px;
    border-radius: 50%;
    min-width: 200px; 
    
}
.imagen_contacto{
    width: 150px;
    border-radius: 50%;  
}

.datos{
    text-align: left;
    background:rgb(177, 72, 72);
}
.imagen_datos2{
    width: 220px;
    border-radius: 50%;
    min-width: 200px;    
}

.imagen_aptitud{
    width: 150px;
    border-radius: 50%;    
}

.trabajo{
    background-color: aqua;
    margin-left: 20px;
}

#box-datos{
    
    min-width:300px; 
}

#laboral{
    font-family: 'Rubik', sans-serif;
}

#datos{
    font-family: 'Rubik', sans-serif;
    background-color: ;
}
#caja_datos{
    height: 50px;
    /*background-color:blue ;*/
}

#caja_academicos{
    height: 50px;
    /*background-color:black ;*/
}
