@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

/* * {
  margin: 0;
  padding: 0;
} */

h1,
h2,
h3,
p,
a {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

#logoMenu {
  margin-right: 15px;
}

#logoMenu img {
  width: 70px;
}

#nameMenu {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 25px;
}

/* agregado asd .header */

.header:not(.contenido .header) {
  padding: 0px;
  background-color: #0c7e3bc9;

  /* agregado asd */
  position: sticky;
  top: 0px;
  z-index: 99;
}

.header .menu {
  width: 100%;
}

.header .flexMenu {
  display: flex;
  align-items: center;
}

.header .flex1 {
  display: flex;
  align-items: center;
}

.header .flex2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .flex2-1 {
  display: flex;
  align-items: center;
}

.header .grupo1_menu {
  width: 30%;
  padding-left: 20px;
  margin-left: 5%;
}

.header .grupo2_menu {
  padding-left: 2%;
  width: 85%;
}

.header .itemMenu {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0 6px;
  font-size: 18px;
  margin-right: auto;
  overflow: hidden;
  position: relative;
}

.header .itemMenu:hover{
  background-color:white;
  color: #0c7e3bc9;
}

.header .itemMenu:before {
  
  
}
.header .itemMenu span{
 
}

.header .itemMenu span:hover{
  
}


.header .redesMenu,
.header .iconMenu {
  padding: 5px 0;
}

.header .redesMenu a {
  text-decoration: none;
}
.header .icon {
  width: 30px;
}

.header .iconRedes {
  width: 25px;
  padding-left: 5px;
}

.header .display {
  display: none;
}

/* ======= CSS FOOTER ======== */

.footer {
  background-color: #0c7e3bc9;
  padding: 20px 5px 0px;
  color: white;
  
}

.footer .grupo1_footer {
  display: flex;
  margin-inline: 20px;
  /* width: 100%; */
}

.footer .box1 {
  flex: 1 0 30%;
  padding: 20px 0;
  margin-left: 10px;
}

.footer .box1 a {
  text-decoration: none;
  color: white;
}

.footer .box2 {
  flex: 1 0 33%;
  text-align: center;
  margin-bottom: 10px;
}
.footer .box3 {
  flex: 1 0 33%;
  text-align: center;
  margin-top: 4%;
  margin-bottom: 10px;
}

.footer #imgFooter {
  width: 65%;
  overflow: auto;

  /*agregado asd*/
  max-width: 200px;
}

.footer .grupo2_footer {
  margin: 20px 0 0;
  padding: 20px 10px;
  text-align: center;
  background-color: #0c7e3bc9;
  font-size: 0.9rem;
}

.footer .grupo2_footer span {
  color: hsla(0, 0%, 100%, 0.6);
}

/* ======= POPUP BINEVENIDA ======== */

.pop_ofrecer_sistema {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99;
  width: 100%;
  max-width: 350px;
  padding: 20px;
  background-color: white;
  box-sizing: border-box;
}

.pop_ofrecer_sistema .pop_linea {
  margin-bottom: 10px;
}

.pop_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pop_ofrecer_sistema .pop_linea .pop_imagen img {
  width: 60%;
}

.pop_aling_derecha {
  text-align: right;
}

.pop_ofrecer_sistema .pop_linea .pop_btn1 {
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  border: 1px solid black;
  padding: 2px 4px;
}

.pop_ofrecer_sistema .pop_linea .pop_btn2 {
  background-color: #12a1d1;
  display: inline-block;

  padding: 10px;

  cursor: pointer;
}

.pop_ofrecer_sistema .pop_linea .pop_btn2 a {
  color: white;
  text-decoration: none;
}

@media (max-width: 800px) {
  .header .display {
    display: block;
  }

  .header .grupo1_menu {
    width: 100%;
  }

  .header .grupo1_menu .logo h5{
    background-color: #12a1d1;
    display: none;
  }

  .header div {
    position: relative;
  }

  .header .grupo2_menu {
    padding-left: 80px;
    width: 100%;

    /*agregado asd*/
    /* position: absolute;
    top: 120%;
    background-color: #2bbbad;
    z-index: 99; */
  }

  .header .flexMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header .flex1 {
    display: flex;
    justify-content: start;
  }

  .header .flex2 {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .header .flex2-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .footer .grupo1_footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
    margin: 0;
  }

  .footer {
    background-color: #0c7e3bc9;
    padding: 20px 0px 0px;
    color: white;
    text-align: center;
  }

  .footer .box2 {
    text-align: center;
    align-items: center;
  }

  .footer .box2 img {
    width: 65%;
    overflow: auto;
    max-width: 500px;
    min-width: 200px;
  }

  .pop_ofrecer_sistema {
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0;
    margin: auto;
    z-index: 99;
    width: 90%;
    max-width: 350px;
    padding: 20px;
    background-color: white;
    box-sizing: border-box;
  }
}
